<!DOCTYPE html><html>
<head>
    <title>Create Placement Drive</title>
</head><body><h1>Create Placement Drive</h1><form method="POST"><label>Company ID</label><br>
<input type="number" name="company_id"><br><br>

<label>Drive Name</label><br>
<input type="text" name="drive_name"><br><br>

<label>Role</label><br>
<input type="text" name="role"><br><br>

<label>Package</label><br>
<input type="text" name="package"><br><br>

<label>Eligibility CGPA</label><br>
<input type="text" name="eligibility_cgpa"><br><br>

<label>Deadline</label><br>
<input type="date" name="deadline"><br><br>

<button type="submit">
    Create Drive
</button>

<label>Eligible Branches</label><br>
<input type="text" name="eligible_branch" required><br><br>

</form></body>
</html>