<!DOCTYPE html><html>
<head>
    <title>Admin Dashboard</title>
</head><body><h1>Admin Dashboard</h1>
    <hr>

<h2>Dashboard Statistics</h2>

<p><b>Total Students:</b> {{ total_students }}</p>

<p><b>Total Companies:</b> {{ total_companies }}</p>

<p><b>Total Placement Drives:</b> {{ total_drives }}</p>

<p><b>Total Applications:</b> {{ total_applications }}</p>

<p><b>Placed Students:</b> {{ placed_students }}</p>

<p><b>Eligible Students:</b> {{ eligible_students }}</p>

<p><b>Rejected Students:</b> {{ rejected_students }}</p>

<p>
    <b>Placement Percentage:</b>
    {{ placement_percentage }} %
</p>

<hr>

<h2>Welcome Admin</h2>

<a href="/view-students">
    <button>
        View Students
    </button>
</a>

<a href="/add-company"><button>Add Company</button></a>
<a href="/view-companies"><button>View Companies</button></a>

<a href="/add-drive"><button>Create Placement Drive</button></a>
<a href="/view-drives"><button>View Placement Drives</button></a>
<a href="/view-applications"><button>View Applications</button></a>
<a href="/eligible-students">
    <button>
        View Eligible Students
    </button>
</a>


<a href="/aptitude-cleared-students">
    <button>
        View Aptitude Cleared Students
    </button>
</a>



<a href="/technical-cleared-students">
    <button>
        View Technical Cleared Students
    </button>
</a>


<a href="/hr-cleared-students">
    <button>
        View HR Cleared Students
    </button>
</a>


<a href="/selected-students">
    <button>
        View Selected Students
    </button>
</a>

<a href="/admin-logout">
    <button>Logout</button>
</a>
</body>
</html>