<!DOCTYPE html>
<html>

<head>
    <title>Aptitude Cleared Students</title>
</head>

<body>

<h1>Aptitude Cleared Students</h1>

<table border="1" cellpadding="10">

<tr>
    <th>Name</th>
    <th>Branch</th>
    <th>CGPA</th>
    <th>Drive</th>
    <th>Status</th>
    <th>Action</th>
</tr>

{% for student in students %}

<tr>

<td>{{ student[0] }}</td>
<td>{{ student[1] }}</td>
<td>{{ student[2] }}</td>
<td>{{ student[3] }}</td>
<td>{{ student[4] }}</td>

<td>

<a href="/technical-clear/{{ student[5] }}">
    <button>
        Technical Cleared
    </button>
</a>

</td>

</tr>

{% endfor %}

</table>

<br><br>

<a href="/admin-dashboard">
    <button>
        Back To Dashboard
    </button>
</a>

</body>

</html>