<!DOCTYPE html><html>
<head>
    <title>Edit Profile</title>
</head><body><h1>Edit Profile</h1><form method="POST"><label>Phone</label><br>
<input type="text" name="phone"><br><br>

<label>Skills</label><br>
<input type="text" name="skills"><br><br>

<label>Resume Link</label><br>
<input type="text" name="resume"><br><br>

<label>Address</label><br>
<input type="text" name="address"><br><br>

<label>LinkedIn</label><br>
<input type="text" name="linkedin"><br><br>

<label>GitHub</label><br>
<input type="text" name="github"><br><br>

<button type="submit">
    Update Profile
</button>

</form></body>
</html>