<!DOCTYPE html>
<html>
<head>
    <title>Campus Placement Management System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>Campus Placement Management System</h1>

    <div class="card">
        <a href="/student-login">
            <button>Student Login</button>
        </a>

         <a href="/student-register">
            <button>Student Registration</button>
        </a>

        <a href="/admin-login">
            <button>Admin Login</button>
        </a>
    </div>

</body>
</html>