<!DOCTYPE html><html><head>
    <title>View Applications</title>
</head><body><h1>All Applications</h1><table border="1" cellpadding="10"><tr>
    <th>Application ID</th>
    <th>Student Name</th>
    <th>Branch</th>
    <th>CGPA</th>
    <th>Drive Name</th>
    <th>Status</th>
    <th>Applied Date</th>
    <th>Remarks</th>
    <th>Actions</th>
</tr>{% for application in applications %}

<tr><td>{{ application[7] }}</td>

<td>{{ application[0] }}</td>

<td>{{ application[1] }}</td>

<td>{{ application[2] }}</td>

<td>{{ application[3] }}</td>

<td>{{ application[4] }}</td>

<td>{{ application[5] }}</td>

<td>{{ application[6] }}</td>




<td>

{% if application[4] == "Selected" %}

    <button disabled>Already Selected</button>

{% elif application[6] == "Branch Not Eligible"
      or application[6] == "CGPA below eligibility criteria" %}

    <button disabled>Approve</button>
    <button disabled>Reject</button>
    <button disabled>Select</button>

{% else %}

    <a href="/approve/{{ application[7] }}">
        <button>Approve</button>
    </a>

    <a href="/reject/{{ application[7] }}">
        <button>Reject</button>
    </a>

    <a href="/select/{{ application[7] }}">
        <button>Select</button>
    </a>

{% endif %}

</td>

</tr>{% endfor %}

</table></body>
</html>